@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    transition: all 200ms linear !important;
}

:root {
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-36: 36px;
    --fs-12: 12px;
    --fs-48: 48px;
    --fs-64: 64px;
    --fs-16: 16px;
    --fs-24: 24px;
    --fs-30: 30px;
    --fs-40: 40px;
    --fs-78: 78px;
    --fs-63: 63px;
    --fs-100: 100px;
    --fs-144: 144px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --lh-150: 150%;
    --navbar-color: #D2DA60;
    --sec1-p: #8A3E74;
    --navbar-list-color: #9003E5;
    --btn-color-me: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    --btn-color-txt: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    --new: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    --black-color: #000000;
    --white-color: #ffffff;
    --p-color: #4D4D4D;
    --color-80: #010080;
    --color-dc: #dcdcdc;
    --color-44: #444444;
    --color-ee: #EEEEEE;
}

.fs-64 {
    font-size: var(--fs-64);
}

.color-80 {
    color: var(--color-80);
}

.p-color {
    color: var(--p-color);
}

.ff-poppins {
    font-family: 'poppins';
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-144 {
    font-size: var(--fs-144);
}

.fw-300 {
    font-weight: var(--fw-300);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.lh-150 {
    line-height: var(--lh-150);
}

.nav-li-color {
    color: var(--navbar-list-color);
}

.nav-bg-color {
    background-color: var(--navbar-color);
}

.list:hover {
    -webkit-text-stroke: medium;
}

.style-italic {
    font-style: italic;
}

.sec1-p {
    color: var(--sec1-p);
}

.black-color {
    color: var(--black-color);
}

.nav {
    z-index: 6;
}

.color-me {
    color: transparent;
    background-image: var(--btn-color-txt);
    background-clip: text;
    border: 4px solid;
}

.section1 {
    background-image: url(../images/section1.png);
    background-position: center;
    background-size: cover;
}

.color-me {
    border: 4px solid transparent;
    border-image: var(--btn-color-me);
    border-image-slice: 1;
    width: 193px;
    height: 55px;
}

.color-me:hover {
    color: var(--white-color);
    background: var(--btn-color-me);
}

.list:hover {
    -webkit-text-stroke: medium;
}

.list::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--navbar-list-color);
    transition: all 300ms linear;
}

.list:hover::before {
    width: 100%;
}

.section2-left {
    left: 0;
    top: 62%;
}

.section2-right {
    right: 0;
    top: 30px;
}

.z-1 {
    z-index: 1;
}

.slick-slider2 {
    bottom: 12px;
}

.section4-left {
    left: 0;
    top: 0;
}

.section4-right {
    right: 0;
    bottom: 0px;
}

.section4 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.hidden {
    visibility: hidden;
    display: none !important;
}

.sec6-p {
    max-width: 471px;
}

.read-more-btn {
    height: 49px;
    width: 165px;
    background-color: var(--color-80);
    border-radius: 4px;
    border: none;
    outline: none;
}

.line {
    display: none;
}

.read-txt {
    max-width: 471px;
    left: 15%;
}

.read-btn {
    width: 165px;
    height: 49px;
    border: none;
    outline: none;
    background-color: var(--color-80);
    left: 15%;
    color: var(--white-color);
    border-radius: 4px;
}

.read-btn:hover {
    background-color: var(--white-color);
    color: var(--color-80);
    border: 1px solid var(--color-80);
    box-shadow: 0px 0px 10px rgba(1, 0, 128, 70%);
}

.design {
    top: -40px;
    left: 16%;
}

.z-i-1 {
    z-index: 1 !important;
}

.z-2 {
    z-index: 2;
}

.txt-1 {
    max-width: 100%;
    background-color: var(--white-color);
    bottom: 20px;
    left: 36px;
    padding: 17px 37px;
    right: 10px;
}

.txt-2 {
    max-width: 100%;
}

.txt-3 {
    left: 22px;
    padding: 17px 20px;
    max-width: 100%;
}

.section8 {
    background-color: var(--color-80);
    min-height: 80vh;
    margin-top: 200px;
}

.mb-200 {
    margin-bottom: 200px;
}

.stiller-card {
    background-color: var(--color-dc);
    height: 394px;
    border-radius: 45px;
}

.new {
    color: transparent;
    background-image: var(--new);
    background-clip: text;
    bottom: 106px;
    opacity: 50%;
}

.subscribe-btn {
    width: 165px;
    height: 68px;
    border: none;
    outline: none;
    color: var(--white-color);
    background-color: var(--color-80);
    border-radius: 4px;
}

.subscribe-btn:hover {
    background-color: var(--white-color);
    color: var(--color-80);
    border: 1px solid var(--color-80);
    box-shadow: 0px 0px 10px rgba(1, 0, 128, 70%);
}

.email {
    border: none;
    outline: none;
    padding: 22px 40px;
}

.email-subscribe {
    bottom: 38px;
}

.footer {
    background-color: var(--black-color);
}

.footer-logo {
    padding-top: 54px;
}

.footer-p {
    max-width: 536px;
}

.commen-svg {
    width: 40px;
    height: 40px;
    background-color: var(--color-44);
    border-radius: 50%;
}

.commen-svg:hover {
    background-color: var(--white-color);
    box-shadow: 0px 0px 15px 1px var(--white-color);
}

.commen-svg:hover svg path {
    fill: var(--black-color);
}

.mt-80 {
    margin-top: 80px;
    margin-bottom: 60px;
}

.footer-line {
    border-top: 1px solid var(--white-color);
}

.copywrt {
    padding: 36px 0;
}

.bb-dot {
    border-bottom: 1px dotted;
}

.slick-svg-commen {
    height: 32px;
    width: 32px;
    background-color: #dcdcdc;
    border-radius: 50%;
    cursor: pointer;
}

.hover-box {
    content: '';
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url(../images/slick-hover.png);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.hover-box:hover {
    opacity: 1;
}

.content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90%;
    width: 92%;
    transform: translate(-50%, -50%);
    border: 4px solid transparent;
    border-image: var(--btn-color-me);
    border-image-slice: 1;
}

.commen-svg {
    cursor: pointer;
}

.sec8-bottom-left {
    top: 0px;
}

.sec8-bottom-right {
    top: -303px;
    right: 0;
}

.design-sec9{
        bottom: 10%;
        left: 26px;
}

.design2-sec9{
        bottom: 0%;
            right: -9%;
}

.section7-right{
        right: 0;
            bottom: 50%;
}

@media (max-width: 1200px) {
    .sec8-txt {
        text-align: center;
    }

    .sec8-bottom-left {
        display: none !important;
    }

}

@media (max-width: 992px) {
    .menubar {
        display: flex !important;
        flex-direction: column;
        justify-content: space-evenly;
        height: 42px;
        width: 37px;
        z-index: 1;
    }

    .menubar span {
        background-color: var(--black-color);
        height: 6px;
        width: 100%;
        background-color: transparent;
        background-image: var(--btn-color-txt);
    }

    .navbar-items {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        ;
    }

    .left-0 {
        left: 0;
    }

    .row-one,
    .row-two {
        width: 50% !important;
    }

    .line-row {
        display: none;
    }

    .item1,
    .item2,
    .item3,
    .item4 {
        padding: 0 12px;
        margin-bottom: 24px;
    }
}

@media (max-width: 576px) {
    .row-one {
        width: 100% !important;
    }

    .row-two {
        width: 100% !important;
    }

    .design-sec6 {
        display: none;
    }

    .read-more-card,
    .read-more-card2 {
        padding: 25px !important;
        border-radius: 15px !important;
    }

    .txt-1 {
        max-width: 100%;
        background-color: var(--white-color);
        bottom: 8px;
        left: 10px;
        padding: 12px 12px;
        right: 10px;
        font-size: var(--fs-12);
        font-weight: 400;
    }

    .section4-left {
        opacity: 30%;
    }

    .sec8-bottom-right{
            opacity: 53%;
    }

}

@media (max-width: 1399.9px) {
    .row-two {
        width: 72%;
    }

    .progress-box {
        flex-direction: column !important;
    }

    .read-more-card,
    .read-more-card2 {
        background-color: var(--color-dc);
        padding: 54px;
        border-radius: 40px;
    }

    .design2 {
        left: 129px;
        top: 0%;
        z-index: 1;
    }

    .section6-part1 {
        margin-bottom: 50px;
    }

    .fs-64 {
        font-size: var(--fs-30);
    }

    .fs-48 {
        font-size: var(--fs-30);
    }

    .read-txt,
    .read-btn {
        left: 0;
    }

    .design,
    .design2 {
        opacity: 70%;
    }

    .service-card {
        margin-top: 69px;
    }
}

@media (min-width: 320px) {
    .new {
        font-size: var(--fs-40);
        bottom: 31px;
    }

    .destruction {
        font-size: var(--fs-16);
    }

    .stiller-card {
        height: 256px;
        border-radius: 18px;
        margin-bottom: 100px;
    }

    .email-subscribe {
        flex-direction: column;
    }

    .email {
        width: 92% !important;
        margin-top: 25px;
        font-size: var(--fs-16);
    }

    .resident-p {
        font-size: var(--fs-20);
    }

    .resident-h {
        font-size: var(--fs-20);
    }

    .mt-100 {
        margin-top: 50px;
    }

    .blue-box {
        top: 50%;
        transform: translateY(-50%);
        padding: 0 12px;
    }
}

@media (min-width: 576px) {

    .br-sm-dot {
        border-right: 1px dotted;
    }

    .bb-sm-none {
        border-bottom: none;
    }

    .bb-sm-dot {
        border-bottom: 1px dotted;
    }

    .new {
        font-size: var(--fs-63);
        bottom: 44px;
    }

    .mt-100 {
        margin-top: 100px;
    }

    .item4 {
        position: relative;
        left: 50%;
    }

    .resident-p {
        font-size: var(--fs-30);
    }

    .resident-h {
        font-size: var(--fs-30);
    }

}

@media (min-width: 768px) {

    .new {
        font-size: var(--fs-78);
        bottom: 62px;
    }

    .email-subscribe {
        flex-direction: row;
        justify-content: center;
    }

    .email {
        margin-top: 0;
        width: 35% !important;
    }
}

@media (min-width: 992px) {
    .br-lg-none {
        border-right: none;
    }

    .br-lg-right {
        border-right: 1px dotted;
    }

    .bb-lg-none {
        border-bottom: none;
    }

    .stiller-card {
        height: 330px;
    }

    .new {
        font-size: var(--fs-100);
        bottom: 73px;
    }

    .item4 {
        position: relative;
        left: 0%;
    }
}

@media (min-width: 1200px) {

    .pr-b300 {
        position: relative;
        bottom: 301px;
    }

    .destruction {
        font-size: var(--fs-30);
    }

    .sec8-txt {
        padding-left: 30px;
        width: 200px;
        text-align: center;
    }

    .stiller-card {
        height: 330px;
    }

    .new {
        font-size: var(--fs-100);
        bottom: 73px;
    }

    .pr-t110 {
        position: relative;
        top: 212px;
    }

    .our-team {
        position: relative;
        top: 100px;
    }
}

@media (min-width: 1399.9px) {
    .line {
        width: 100%;
        position: relative;
        bottom: 126px;
        right: 21px;
        display: flex;
    }

    .resident-p {
        font-size: var(--fs-64);
    }

    .resident-h {
        font-size: var(--fs-48);
    }

    .row-one {
        z-index: 2;
    }

    .row-two {
        position: absolute;
        top: 65%;
        left: 13%;
    }

    .item-3 {
        position: relative;
        right: 4%;
    }

    .row-two {
        width: 80%;
    }

    .line-row2 {
        width: 100%;
    }

    .read-more-card::after {
        content: '';
        position: absolute;
        background-color: var(--color-ee);
        height: 376px;
        width: 96%;
        top: 35%;
        right: 0;
        border-radius: 40px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        z-index: 1;
    }

    .read-more-card2::after {
        content: '';
        position: absolute;
        background-color: var(--color-dc);
        height: 376px;
        width: 96%;
        top: 35%;
        left: 0;
        border-radius: 40px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        z-index: 1;
    }

    .top-80 {
        top: 80px;
    }

    .sec6-img {
        bottom: 78px;
    }

    .section6-part1 {
        margin-bottom: 290px;
    }

    .section6-part3 {
        margin-bottom: 150px;
    }

    .design2 {
        right: 213px;
        top: 0%;
        z-index: 4;
    }
}

@media (min-width: 1920px) {
    .line {
        bottom: 164px;
        right: 44px;
    }

    .row-two {
        top: 60%;
        left: 11%;
    }

    .item-1 {
        position: relative;
        left: 4%;
    }

    .br-lg-right {
        border-right: 1px dotted;
    }
}